.site-header{
    background-color: #000000;
    color: #9470c7;
    font-family:monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.site-header-content{
    margin: 10px;
}
.profilepic{
    margin-top: 10px;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    box-shadow: #34273e 2px 5px 5px;
}
body{
    margin: 0;
    background-color: #000000;
    background-repeat: repeat;
    background-size: 1080px;
}