.site-header{
    background-color: #1bbc9b;
    color: #ecfdf9;
    font-family:monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.site-header-content{
    margin: 20px;
}
.profilepic{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    box-shadow: #0a8826 2px 5px 5px;
}
body{
    margin: 0;
}